---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Girish from '../assets/girish.jpeg'
import Grid from '../components/Grid.astro'
import P from '../components/P.astro'
import SubHeading from '../components/SubHeading.astro'
import Heading from '../components/Heading.astro'
import Title from '../components/Title.astro'
import ExternalLink from '../components/ExternalLink.astro'
import CentralSpan from '../components/CentralSpan.astro'
import Technologies from '../components/technologies/Technologies.astro'

const job = {
  company: 'needl.ai',
  url: 'https://www.needl.ai/',
  role: 'Software Engineer',
  location: 'Bangalore, India',
  start: '2020',
  end: 'present'
}
---

<Layout title="Girish V">
  <Grid as="main" class="isolate">
    <CentralSpan
      as="section"
      class="flex min-h-[100svh] flex-col items-center justify-center gap-16 md:flex-row-reverse md:justify-between">
      <div class="pt-8 md:flex-1 md:pt-0">
        <Image
          class="mx-auto h-60 w-60 max-w-none rounded-full object-cover object-top md:h-80 md:w-80"
          width={500}
          height={500}
          src={Girish}
          alt="cover picture of girish.v"
        />
      </div>
      <div class="flex flex-col gap-4 md:flex-1">
        <Title>
          hey, i'm <span class="text-gray-400 underline">girish!</span>
        </Title>
        <SubHeading>
          currently <ExternalLink href={job.url}>
            <span class="text-gray-400">@{job.company}</span>
          </ExternalLink>
        </SubHeading>
        <P>
          I'm a passionate frontend wizard who weaves pixel-perfect spells to
          create extraordinary user interfaces for the web. When I'm not
          concocting UI magic, you'll find me spreading the joy of open source
          like a coding bard, sharing my insights with the community. With a
          touch of whimsy and a dash of technical expertise, I'm here to enchant
          users with unforgettable experiences.
        </P>
      </div>
    </CentralSpan>
    <CentralSpan as="section" class="flex flex-col gap-4 pt-12">
      <Heading>favourite technologies</Heading>
      <P>
        Welcome to the realm of my beloved technologies, a playground of digital
        brilliance. Whether it's JavaScript's dynamic wizardry, CSS's style
        sorcery, or the backend sorcerer's data enchantments, together they
        create a symphony of code that dances across the web, leaving users
        spellbound.
      </P>
      <Technologies />
    </CentralSpan>
  </Grid>
</Layout>
