---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Girish from '~/assets/girish.jpeg'
import Grid from '../components/Grid.astro'
import P from '../components/P.astro'
import SubHeading from '../components/SubHeading.astro'
import Title from '../components/title.astro'
import ExternalLink from '../components/ExternalLink.astro'

const job = {
  company: 'needl.ai',
  url: 'https://www.needl.ai/',
  role: 'Software Engineer',
  location: 'Bangalore, India',
  start: '2020',
  end: 'present'
}
---

<Layout title="Girish V">
  <Grid Element="main">
    <div
      class="col-start-1 col-end-5 flex min-h-[100svh] flex-col items-center justify-center gap-16 sm:col-start-3 sm:col-end-11 sm:flex-row-reverse sm:justify-between">
      <div class="sm:flex-1">
        <Image
          class="mx-auto h-60 w-60 max-w-none rounded-full object-cover object-top sm:h-80 sm:w-80"
          width={320}
          height={320}
          src={Girish}
          alt="cover picture of girish.v"
        />
      </div>
      <div class="flex flex-col gap-4 pb-6 sm:flex-1">
        <Title>
          hey, i'm <span class="text-gray-400 underline">girish!</span>
        </Title>
        <SubHeading>
          currently <ExternalLink href={job.url}>
            <span class="text-gray-400">@{job.company}</span>
          </ExternalLink>
        </SubHeading>
        <P>
          I'm a passionate frontend wizard who weaves pixel-perfect spells to
          create extraordinary user interfaces for the web. When I'm not
          concocting UI magic, you'll find me spreading the joy of open source
          like a coding bard, sharing my insights with the community. With a
          touch of whimsy and a dash of technical expertise, I'm here to enchant
          users with unforgettable experiences.
        </P>
      </div>
    </div>
  </Grid>
</Layout>
