---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Girish V">
  <main class="grid h-full place-content-center">
    <h1 class="text-6xl text-slate-50">Girish</h1>
  </main>
</Layout>
