---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from '../util'

const { class: pClass = '', ...props } = Astro.props

export interface Props extends HTMLAttributes<'h3'> {}
---

<h3 class={twMerge('text-gray-200 text-subheading', pClass)} {...props}>
  <slot />
</h3>
