---
import Heading from '../components/Heading.astro'
import P from '../components/P.astro'

const { contentClass, description, title } = Astro.props

export interface Props {
  description: string
  title: string
  contentClass?: string
}
---

<div class='flex flex-col gap-8'>
  <div class='not-prose flex flex-col gap-4'>
    <Heading as='h1'>{title}</Heading>
    <P>{description}</P>
  </div>
  <div class={contentClass}>
    <slot />
  </div>
</div>
